/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 20px 0;
}

/* Estilos para las categorías */
.card-body {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-body h3 {
    color: #343a40;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para las tarjetas de películas */
.movie-card {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilos para la lista de películas dentro de cada categoría */
.movie-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 10px;
}

.movie-list .movie-card {
    margin-right: 15px;
}

/* Limpiar estilos del listado de películas */
ul {
    list-style: none;
    padding: 0;
}

.category-container {
    margin-bottom: 20px; /* Agrega espacio entre los card-body de cada categoría */
}

.movie-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}
