body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 15px;
    color: white;
    text-align: center;
}

.search-container {
    margin-top: 10px;
}

input {
    padding: 5px;
}

button {
    padding: 5px;
    cursor: pointer;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.movie-card {
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Fondo blanco para mejorar la legibilidad */
    padding: 10px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movie-card h3 {
    text-align: center;
    margin: 10px 0;
    color: #333; /* Color del texto ajustado para mejorar la legibilidad */
}

/* Estilo adicional para la calificación y clasificación por edad */
.movie-card p {
    margin: 5px 0;
}
